<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>小宅社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="~{import :: head}"></div>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<!--问题列表-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <video src="https://www.w3school.com.cn/i/movie.ogg" controls="controls"></video>
        </div>
        <div class="col-md-3 content-left">
            <h3>热门</h3>
        </div>
    </div>
</div>
</body>
</html>